<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/home.css">
    <link rel="stylesheet" href="../../public/styles/modal.css">
    <link rel="stylesheet" href="../../public/styles/responsive.css">
</head>
<body>
    <div id="page-home">
        
        <div class="content">

            <header>
                <img src="../../public/assets/logo.svg" alt="Logomarca do Ecoleta">
                <a href="../../src/views/login.html">
                    <span></span>
                    Login</a>
                <a href="../../src/views/cadastro.html">
                        <span></span>
                        Cadastra-se</a>    

                <a href="../../src/views/create-point.html">
                    <span></span>
                    Cadastre um ponto de coleta</a>     
                
            </header>
            <br>  </br>
            <br>  </br>
            <div>
                <a href="../../src/views/news.html">
                    <span></span>
                    +Informações sobre reciclagem</a>     
            </div>
          
            <main>
                
                <h1>Novo método de reciclagem</h1> 
    
            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p> 
            <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong> </a>
        
         
    <style>
        #iframe{
            position: fixed;
            top: 700px;
            left: 412px; 
        }
    </style>
         

            </main>
    
        
        </div>

    </div>

    
    
    <div id="modal" class="hide">
        <div class="content">
            <div class="header">
                <h1>Pontos de coleta</h1>
                <a href="#">Fechar</a>
            </div>
            <form action="../../src/views/search-results.html">
                <label for="search">Cidade</label>
                <div class="search field">
                    <input 
                    type="text" 
                    name="search" 
                    placeholder="Digite sua cidade">
                    <button>
                        <img src="../../public/assets/search.svg" alt="Buscar">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="../../public/scripts/index.js"></script>
    
</body>
</html>