<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/create-point.css">
    <link rel="stylesheet" href="../../public/styles/responsive.css">
</head>
<body>
    <div id="page-create-point">
        
        
            <header>
         
                <a href="../../src/views/index.html">
                    <span></span>
                    Voltar para a home
                </a> 
    
            </header>
            <fildset>
                
                 <form action="">
                    <img src="../../public/assets/logo.svg" alt="Logo marca do Ecoleta">
                     <br></br>
                         Entrar no Ecoleta
                         <br></br>
                        <div class="field">
                            <label for="name">Usuário </label>
                            <input type="url" name="image" 
                            placeholder = " "
                            required >
                        </div>
                        <div class="field">
                            <label for="pass">Senha </label>
                            <input type="password" id= "pass" name="password"
                             minlength="8" required>
                        </div> 
                        <button type="submit"> Entrar </button>
                        </div>
                       
            </fildset>

                

            </form>

    </div>
    
    <script src="../../public/scripts/create-point.js"></script>
    
</body>
</html>